<h2>These are your events {{user.username}}</h2>

{{#if useradmin}}
<a href="/events/new" class="btn btn-success"><i class="fas fa-plus-circle"></i> Create new event</a>
{{/if}}

<br><br>
<div class="card-columns">
  
{{#each myev}}

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{this.imgPath}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.description}}</p>
      <a href="/events/{{this._id}}" class="btn btn-outline-success"><i class="fas fa-eye"></i> View event</a>
      <a href="/events/{{this._id}}/edit" class="btn btn-outline-success"><i class="fas fa-edit"></i> Edit</a>
      <a href="/events/{{this._id}}/delete" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i> Delete</a><br>


    </div>
  </div>

   
{{/each}}


{{#unless myev}}

<p>You don't have events</p>

{{/unless}}

</div>