<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
</head>



<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1>Hello {{user.username}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->


            <div class="text-center">
                <img src="{{user.imgPath}}" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
            </hr><br>
            <b>Email:</b> {{user.mail}}<br>
            <b>Role:</b> {{user.role}}<br>
            <b>Description:</b> {{user.description}}



        </div>
        <!--/col-3-->
        <div class="col-sm-9">

            <div class="tab-content">
                <div class="tab-pane active" id="home">



                    <form action="/auth/profile/{{user._id}}" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                <label for="email">
                                    <h4>Email</h4>
                                </label>
                                <input type="email" name="mail" class="form-control" placeholder="example@example.com">
                            </div>


                            <div class="col">
                                <label for="role">
                                    <h4>Registered as</h4>
                                </label>
                                <select name="role" class="form-control" id="exampleFormControlSelect1">
                                    <option value="cliente">Cliente</option>
                                    <option value="anunciante">Anunciante</option>
                                </select>
                            </div>




                        </div>

                        <br>


                        <divclass="col">

                            <label for="description">
                                <h4>About you</h4>
                            </label>
                            <textarea name="description" class="form-control" id="description" rows="3"></textarea>
                </div>
            </div>

            <br>

            <div class="form-row">
                <div class="form-group col-md">
                    <label for="photo">
                        <h4>Upload a picture</h4>
                    </label>
                    <input type="file" name="photo" class="form-control">
                </div>
            </div>


            <br>
            <button class="btn btn-lg btn-outline-success" type="submit">Edit profile</button>
            <button class="btn btn-lg btn-outline-secondary" type="reset"><i class="fas fa-redo-alt"></i> Reset</button>
            </form>




        </div>



    </div>
</div>

</div>
</div>