
<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>



<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>Hello {{user.username}}</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload your photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>My events</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Registered on</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Puntuation</strong></span> 37</li>
          </ul> 
            Email: {{user.mail}}<br>
            Role: {{user.role}}<br>
            Description: {{user.description}}
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
 
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              


            <form action="/auth/profile/{{user._id}}" method="POST">
            <div class="row">
                <div class="col">
                    <label for="email">
                        <h4>Email</h4>
                    </label>
                    <input type="email" name="mail" class="form-control" placeholder="example@example.com">
                </div>
            
            
                <div class="col">
                    <label for="role">
                        <h4>Registered as</h4>
                    </label>
                    <select name="role" class="form-control" id="exampleFormControlSelect1">
                        <option value="cliente">Cliente</option>
                        <option value="anunciante">Anunciante</option>
                    </select>
                </div>
        
            
            
            
            </div>
            
            <br>


                            <divclass="col">
            
<label for="description">
                        <h4>About you</h4>
                    </label>
                                        <textarea name="description" class="form-control" id="description" rows="3"></textarea>
            </div>
            </div>
            <br>
            <button class="btn btn-lg btn-outline-success" type="submit">Edit profile</button>
            <button class="btn btn-lg btn-outline-secondary" type="reset"><i class="fas fa-redo-alt"></i> Reset</button>
            </form>



              
             </div>
 
 
               
              </div>
          </div>

        </div>
    </div>