<html>

<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5zV84IbllnzEJ1PwadGFWFlWG76R_ho8&libraries=geometry"></script>
  <script src="/javascripts/getMap.js"></script>
  <script src="/javascripts/apiData.js"></script>
  
</head>

<body>

  <div id="spinnerDiv">

  <div class="cssload-loader-inner">
		<div class="cssload-cssload-loader-line-wrap-wrap">
			<div class="cssload-loader-line-wrap"></div>
		</div>
		<div class="cssload-cssload-loader-line-wrap-wrap">
			<div class="cssload-loader-line-wrap"></div>
		</div>
		<div class="cssload-cssload-loader-line-wrap-wrap">
			<div class="cssload-loader-line-wrap"></div>
		</div>
		<div class="cssload-cssload-loader-line-wrap-wrap">
			<div class="cssload-loader-line-wrap"></div>
		</div>
		<div class="cssload-cssload-loader-line-wrap-wrap">
			<div class="cssload-loader-line-wrap"></div>
		</div>
	</div>

    {{!-- <div>
      <img id="spinner"  src="/images/Spinner.apng" alt="">
    </div>  --}}
  </div>
  
  <div id="map"></div>
  



<div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-multi" data-slide-to="1"></li>
    <li data-target="#carousel-example-multi" data-slide-to="2"></li>
    <li data-target="#carousel-example-multi" data-slide-to="3"></li>
    <li data-target="#carousel-example-multi" data-slide-to="4"></li>
    <li data-target="#carousel-example-multi" data-slide-to="5"></li>
  </ol>
  <!--/.Indicators-->

  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active">
      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top" src="/images/coming.jpg"
            alt="Card image cap">
          <div class="card-body">
<h4 class="card-title font-weight-bold">Coming soon...</h4>
          </div>
        </div>
      </div>
    </div>


    {{!-- {{#each events}}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.imgPath}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">Rating: {{this.rating}} <i class="fas fa-star"></i></p>
    <p class="card-text">{{this.description}}</p>
        <a href="/events/{{this._id}}" class="btn btn-outline-success"><i class="fas fa-eye"></i> View event</a>
    <a href="/events/{{this._id}}/edit" class="btn btn-outline-success"><i class="fas fa-edit"></i> Edit</a>
    <a href="/events/{{this._id}}/delete" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i> Delete</a><br>


  </div>
</div>
{{/each}} --}}

    {{#each evmap}}
    <div class="carousel-item">
      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top" src="{{this.imgPath}}"
            alt="Card image cap">
          <div class="card-body">
                        <a href="/events/{{this._id}}"><h4 class="card-title font-weight-bold">{{this.name}}</h4></a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    

  </div>

</div>

{{!-- <div class="container">

{{#each events}}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.imgPath}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">Rating: {{this.rating}} <i class="fas fa-star"></i></p>
    <p class="card-text">{{this.description}}</p>
        <a href="/events/{{this._id}}" class="btn btn-outline-success"><i class="fas fa-eye"></i> View event</a>
    <a href="/events/{{this._id}}/edit" class="btn btn-outline-success"><i class="fas fa-edit"></i> Edit</a>
    <a href="/events/{{this._id}}/delete" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i> Delete</a><br>


  </div>
</div>
{{/each}}
</div> --}}

   




  <script> window.events = {{{ events }}} </script>


  

<script src="/javascripts/script.js"></script>
</body>

</html>